<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--利用namespace属性，绑定当前映射文件和Mapper接口映射关联-->
<mapper namespace="com.jensen.dao.OrderMapper">

    <resultMap id="orderMap" type="com.jensen.pojo.Order">
        <id column="oid" property="id"></id>
        <result column="order_number" property="orderNumber"></result>

        <association property="orderUser" javaType="com.jensen.pojo.User"  autoMapping="true">
            <id column="uid" property="id"></id>
            <result column="user_name" property="userName"></result>
        </association>
    </resultMap>
    
    <select id="findOrderByNumber" resultMap="orderMap">
        select  o.id as oid,
                o.order_number ,
                u.id as uid,
                u.user_name,
                u.password,
                u.name,
                u.age,
                u.sex
        from tb_order AS o inner join tb_user AS u
        on o.user_id = u.id
        where o.order_number=#{orderNumber};
    </select>

</mapper>